/* Start About Us */
.about{
  
    background-color:#EEE;
    padding-top:50px;
    padding-bottom:50px;

}
.about h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom:20px;
    font-size: 40px;
}
.about h2 span{
    color:#E14B17;
    font-family:serif;
    font-weight:bold;
}
.about p{
    font-size: 20px;
}
.about p span{
    color:#E14B17;
    font-family:serif;
    font-weight:bold;
}